:root {
  --dark-blue: #112250;
  --light-blue: #3c507d;
  --light-color: #f5f0e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /*10px*/
}

body {
  font-family: varela;
  background-color: var(--light-color);
}

@font-face {
  font-family: "varela";
  src: url("./assets/varela-round.ttf");
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button,
input {
  font-family: varela;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* 
==========
  Header
==========
*/

.header {
  background-color: var(--dark-blue);
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem;
}

.header-title {
  font-size: 3rem;
}

.navbar {
  background-color: var(--light-blue);
  width: 100%;
  border-radius: 10px;
  height: 4rem;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-list li {
  width: 10rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.navbar-list li:hover {
  background-color: var(--dark-blue);
}

.nav-link {
  font-size: 1.7rem;
  line-height: 4rem;
}

.navbar-list li:has(a.active) {
  background-color: var(--dark-blue);
}

/* 
==========
  MAin
==========
*/

.content-container {
}

.title-section {
  color: var(--light-blue);
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}

.home-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5rem;
}

.text-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-text-content {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.title-text-content span{
  color: var(--light-blue);
  font-size: 3rem;

}

.descriptiontext-content {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.info-btn {
  background-color: var(--light-blue);
  color: var(--light-color);
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.image-content {}

.img-home {
  width: 30.49rem;
}

